body {
  font-family: "Roboto";
  font-weight: 700;
  color: #212121;
  font-size: 14px;
}
::selection {
  color: #fff;
  background-color: #2196f3;
}
.container {
  width: 1200px;
}
button {
  cursor: pointer;
}
.next-button:hover {
  width: 121px;
  height: 38px;
  border-radius: 4px;
  text-align: center;
  background-color: #2196f3;
  color: white;
  border: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  line-height: 1.62;
}
button:active {
  color: #2196f3;
}
.title-big {
  background-color: #2f303a;
  color: white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  height: 600px;
  text-align: center;
}
.footer-black {
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}
.logo {
  color: #2196f3;
  font-family: "Releway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.black > span {
  color: #212121;
}
.white > span {
  color: white;
}
.blue {
  color: #2196f3;
}
a {
  color: #212121;
  padding: 0;
}
a:link {
  text-decoration: #2196f3;
}
a:hover {
  color: #2196f3;
}
a:active {
  color: #2196f3;
}
.grafit {
  color: #757575;
}
.menu-500 {
  font-weight: 500;
  line-height: 1.14;
}
.button-big {
  background-color: #2196f3;
  color: #fff;
  height: 50px;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0.15);
  letter-spacing: 0.96px;
  font-size: 16px;
  font-family: "Roboto";
  border-radius: 4px;
  border: #fff;
  line-height: 1.6;
}
.ul-style {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-head > li {
  font-size: 14px;
  line-height: 1.14;
}
.list-text {
  font-size: 14px;
  color: #757575;
  font-weight: 400;
  line-height: 1.71;
}
.over-photos {
  text-align: center;
  font-size: 36px;
  line-height: 1.18;
  text-align: center;
}
.under-photos-1 {
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
}
.under-photos {
  font-weight: 400;
  color: #757575;
  line-height: 1.16;
}
.under-photos-left {
  font-weight: 400;
  color: #757575;
  line-height: 2;
}
.under-photos-left-1 {
  font-size: 18px;
  line-height: 2;
}
.photo-center > li {
  text-align: center;
}
.adres {
  color: white;
  font-style: normal;
}
.adres-second-line {
  color: rgba(255, 255, 255, 0.6);
}
.first-button {
  width: 121px;
  height: 38px;
  border-radius: 4px;
  text-align: center;
  background-color: #2196f3;
  color: white;
  border: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  line-height: 1.62;
}
.next-button {
  width: 93px;
  height: 38px;
  border-radius: 4px;
  text-align: center;
  background-color: #f5f4fa;
  border: #fff;
  line-height: 1.62;
}
